@model InForno.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center">Delete Product</h2>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4>Delete Confirmation</h4>
                </div>
                <div class="card-body">
                    <h4>Are you sure you want to delete this product?</h4>
                    <dl class="row">
                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Price</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                        <dt class="col-sm-4">Delivery Time (in minutes)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DeliveryTimeInMinutes)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
