@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in InForno!</h1>
    <p class="lead">Ordina le tue pizze preferite online</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Products", "Cart")">Ordina adesso!</a>
</div>
